img {
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px 0 0 0;
}

.fullBox {
    box-shadow: 0 0 4px #000000, 0 0 4px #000000;
    height: 700px;
    width: 600px;
    margin: auto;
    border-radius: 5% 5% 5% 5%;
}


.boxed {
  border-radius: 5% 5% 0 0;
  height: 420px;
  width: 600px;
  background: #057f4e;
  margin: auto;
  border: 3px #057f4e;
}

.boxed2 {
  border-radius: 0 0 5% 5%;
  height: 280px;
  width: 600px;
  margin: auto;
  border: 3px #057f4e;
}


h1 {
    text-align:center;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #000000, 0 0 5px #000000;
}

.mainInfo {
    text-align:center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    text-shadow: 0 0 1px #000000, 0 0 5px #000000;
}

.otherInfo {
    
    line-height: 1.5;
    font-family: helvetica;
    max-width: 450px;
    letter-spacing: 1.1px;
    padding: 20px 0 0 0;
    color: #999999;
    font-weight: bold;
    text-align: justify;
    margin: auto;
}

.post{
    max-width: 270px;
    margin: auto;
    line-height: 0.3;
    word-spacing: 50px
}

.posts{
    max-width: 300px;
    margin: auto;
    line-height: 0.3;
    word-spacing: 40px
}

}
.num {
    display:inline
    font-weight: bold;
    text-align: center;
    
}

.description {
    font-size: 15px;
    font-family: helvetica;
    color: #999999;
    font-weight: bold;
    text-align: center;
    
}

.button {
    border-radius: 12px;
    height: 45px;
    width: 140px;
    background-color: #42f46b;
    margin:auto;
    font-size: 15px;
    font-family: helvetica;
    font-weight: bold;
    color: white;
    text-align: center;
}

.separator {
    margin: 0;
    padding: 10px;
}